POSTGRES_DB=collectohub
POSTGRES_HOST=127.0.0.1
POSTGRES_USER=collectohub
POSTGRES_PASSWORD=collectohub_local_password
POSTGRES_PORT=5432

BACKEND_PORT=8080

JWT_SECRET=change-me-in-local-env
JWT_ACCESS_EXPIRATION_MINUTES=15
JWT_REFRESH_EXPIRATION_DAYS=7

FILES_STORAGE_PATH=./uploads
